body {
    font-family: sans-serif;
    background-color: var(--background-body);

    color: white;
}
main {
    padding-top: 15px;
}
button {
    cursor: pointer;
}

hr {
    margin: 5px 0;
    width: 100%;
    border: 1px solid var(--border);
}