body {
    font-family: sans-serif;
    background: var(--background-main);
    overflow-x: hidden;
    position: relative;
    color: white;
    width: 100%;
    min-height: 100vh;
    scrollbar-width: thin;
    scrollbar-color: #333333 #f1f1f1;
    transition: padding-left 0.3s ease-in-out;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: var(--background-body);
}


main {
    padding-top: 7px;
}

button {
    cursor: pointer;
}

hr {
    margin: 5px 0;
    width: 100%;
    border: 1px solid var(--border);
}

.logo {
    color: var(--white);
    font-size: 20px;
}

