:root {
    --background-body: radial-gradient(circle at 15% 25%,
            rgba(163, 92, 255, 0.18) 0%,
            rgba(163, 92, 255, 0.08) 20%,
            transparent 50%),
        radial-gradient(circle at 85% 80%,
            rgba(0, 208, 255, 0.1) 0%,
            rgba(0, 180, 255, 0.04) 25%,
            transparent 50%),
        radial-gradient(circle at 75% 95%,
            rgba(0, 255, 170, 0.06) 0%,
            transparent 40%),
        #05060d;
    --background-main: #05060d;
    --white: white;
    --black: black;
    --index-navbar: 20;
    --text-grey: #929292;
    --border-table:rgba(181, 181, 181, 0.326);
    --btn-border: rgb(215, 97, 255);
    --shadow:rgba(169, 75, 192, 0.206);
    --status-low: #199919;
    --status-high: #991919;
    --background-sidebar:rgba(12, 12, 14, 0.678);
    --index-menu: 25;
    --table-fill: #b44bff56;
    --index-config: 30;
    --grey: #555555bd;
    --border-type-two: #ffffff5c;
    --background-btn-sidebar: linear-gradient(to left, rgb(29, 102, 158), rgb(17, 81, 140));
    --border: rgba(255, 255, 255, 0.063);
    --background-card: #0c0c0e64;
    --background-btn-config: #f1f1f1;
    --notification-warning-background: rgb(185, 3, 3);
    --table-color: #b44bff;
    --table-color-upload: rgb(101, 30, 255);
    --background-btn: #3c3c40;
    --background-btn-active: #2e2e31;
    --seeMore-color:rgba(119, 63, 179, 0.949);
    --warning-content-background:#80808010;
    --infrastructure-background-type-one: #b44cff;
    --loadSection-index:40;
    --infrastructure-background-type-two: hwb(242 29% 0%);
    --infrastructure-background-type-three: #39d751;
    --infrastructure-background-type-four: #d7d439;

}