.CardsMainSection {
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.CardsMainSection header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: min-content;
    width: 100%;
}

.CardsMainSection header h1 {
    font-size: 20px;

}

.icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon {
    width: 100%;
    opacity: 0.5;
    cursor: pointer;
    max-width: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 100%;
}

.card {
    background-color: var(--background-card);
    padding: 20px;
    border-radius: 10px;
    box-shadow:
        0 20px 50px rgba(0, 0, 0, 0.45),
        -10px 0 40px rgba(108, 92, 255, 0.08),
        10px 0 40px rgba(0, 180, 255, 0.05);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    backdrop-filter: blur(20px);
    display: flex;
    gap: 6px;
    width: 100%;
    flex-direction: column;
}


@keyframes iconConfigAnimation {
    0% {
        transform: rotate(0deg);
        opacity: 0.5;
    }

    60% {
        transform: rotate(100deg);
        opacity: 1;
    }

    100% {
        transform: rotate(0deg);
        opacity: 0.5;
    }
}

.titleCard {
    font-size: 12px;
    color: var(--text-grey);
}

.statusCard {
    font-size: 13px;
    color: var(--status-low);
}

.statusCard.Active {
    color: var(--status-high);
}

.valueCard {
    font-size: 26.5px;
}

@media (min-width:320px) {
    .valueCard {
        font-size: 24px;
    }
}

@media (min-width:1024px) {
    .cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width:1900px) {
    .CardsMainSection header h1 {
        font-size: 25px;
    }

    .icon {
        max-width: 25px;
    }

    .titleCard {
        font-size: 12.5px;
        color: var(--text-grey);
    }

    .statusCard {
        font-size: 14px;
        color: var(--status-low);
    }

  

    .valueCard {
        font-size: 28.5px;
    }
}

@media (hover:hover) {
    .card:hover {
        transform: translateY(-2px);
        box-shadow:
            0 25px 60px rgba(0, 0, 0, 0.55),
            -15px 0 50px rgba(108, 92, 255, 0.12),
            15px 0 50px rgba(0, 180, 255, 0.08);

    }
}